<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	  layout:decorate="~{comm/userLayout}">
<head>
	<div layout:fragment="head">
		<title>登录</title>
		<link rel="stylesheet" type="text/css" th:href="@{/css/auth.css}" media='all' >
	</div>
</head>

<body>
<div layout:fragment="content">
	<div class="lowin">
		<div class="lowin-brand">
			<img th:src="@{/images/kodinger.jpg}" alt="logo">
		</div>
		<div class="lowin-wrapper">
			<div class="lowin-box lowin-login">
				<div class="lowin-box-inner">
					<form id="loginFrom" onsubmit="return false" action="##" method="post">
						<p class="lowin-p">登录</p>
						<div class="lowin-group">
							<label>用户名</label>
							<input type="text" name="loginName" autocomplete="name" placeholder="请输入用户名" class="lowin-input">
						</div>
						<div class="lowin-group password-group">
							<label>密码 <a href="#" class="forgot-link">忘记密码?</a></label>
							<input type="password" name="passWord" autocomplete="current-password" placeholder="请输入密码" class="lowin-input">
						</div>
						<li class="login-error"></li>
						<button class="lowin-btn" onclick="loginSub()">
							登录
						</button>

						<div class="text-foot">
							还没有账号? <a href="" class="login-register-link">注册</a>
						</div>
					</form>
				</div>
			</div>

			<div class="lowin-box lowin-forgot">
				<div class="lowin-box-inner">
					<form id="forgotFrom" onsubmit="return false" action="##" method="post">
						<p class="lowin-p">忘记密码</p>
						<div class="lowin-group">
							<label>邮箱 <a href="#" class="login-back-link">登录?</a></label>
							<input type="email" autocomplete="email" name="email" placeholder="请输入邮箱" class="lowin-input">
						</div>
						<div class="lowin-group password-group">
							<label>验证码</label>
							<input type="text" name="passWord" autocomplete="passWord" placeholder="请输入验证码" class="lowin-input">
						</div>
						<li class="forgot-error"></li>
						<button class="lowin-btn" onclick="forgotSub()">
							找回密码
						</button>

						<div class="text-foot">
							还没有账号? <a href="" class="forgot-register-link">注册</a>
						</div>
					</form>
				</div>
			</div>

			<div class="lowin-box lowin-register">
				<div class="lowin-box-inner">
					<form id="registerFrom" onsubmit="return false" action="##" method="post">
						<p>注册</p>
						<div class="lowin-group">
							<label>用户名</label>
							<input type="text" name="loginName" autocomplete="name" placeholder="6-16位以字母开头且由字母数字下划线组成" class="lowin-input">
						</div>
						<div class="lowin-group">
							<label>邮箱</label>
							<input type="email" autocomplete="email" name="email" placeholder="请输入邮箱" class="lowin-input">
						</div>
						<div class="lowin-group">
							<label>密码</label>
							<input type="password" name="passWord" autocomplete="current-password" placeholder="密码必须由字母+数字组合，长度大于8位" class="lowin-input">
						</div>
						<div class="lowin-group">
							<label>确认密码</label>
							<input type="password" name="passWord2" autocomplete="current-password" placeholder="请再次输入密码" class="lowin-input">
						</div>
						<li class="register-error"></li>
						<button class="lowin-btn" onclick="registerSub()">
							注册
						</button>

						<div class="text-foot">
							已有账号? <a href="" class="login-link">登录</a>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<div layout:fragment="javascript">
	<script th:src="@{js/comm/fromData.js}"></script>
	<script th:src="@{js/auth.js}"></script>
	<script th:inline="javascript">
		var type = [[${type}]];
		Auth.init({
			login_url: '/user/login',
			forgot_url: '/user/forgot',
			type:type
		});
	</script>
</div>
</body>
</html>