<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	  layout:decorate="~{comm/layoutPage}">
<body>

<div layout:fragment="search" >

</div>
<!-- start of page content -->
<div class="span8 page-content" layout:fragment="page_content">

	<!-- Basic Home Page Template -->
	<div class="row separator">
		<!-- Start Sign In Form -->
		<form  id="signUpForm" th:action="@{/user/signUp}" method="post" class="fh5co-form animate-box" data-animate-effect="fadeInRight">
			<h2>注册</h2>
			<div class="form-group">
				<div class="alert alert-success" role="alert">Your info has been saved.</div>
			</div>
			<div class="form-group">
				<label for="userName" class="sr-only">用户名</label>
				<input type="text" class="form-control" id="userName" name="userName" placeholder="用户名" autocomplete="on">
			</div>
			<div class="form-group">
				<label for="email" class="sr-only">邮箱</label>
				<input type="email" class="form-control" id="email" name="email" placeholder="邮箱" autocomplete="on">
			</div>
			<div class="form-group">
				<label for="passWord" class="sr-only">密码</label>
				<input type="password" class="form-control" id="passWord" name="passWord" placeholder="密码" autocomplete="off">
			</div>
			<div class="form-group">
				<label for="rePassWord" class="sr-only">确认密码</label>
				<input type="password" class="form-control" id="rePassWord" name="rePassWord" placeholder="确认密码" autocomplete="off">
			</div>
			<div class="form-group">
				<label for="remember"><input type="checkbox" id="remember">同意网址协议</label>
			</div>
			<div class="form-group">
				<p>已有账号？ <a th:href="@{/login}">登陆</a></p>
			</div>
			<div class="form-group">
				<input type="submit" value="注册" class="btn btn-primary" onclick="signUp();">
			</div>
		</form>
		<!-- END Sign In Form -->
	</div>
</div>
<!-- end of page content -->
<div layout:fragment="sidebar">

</div>

<div layout:fragment="page_script">
	<script type="text/javascript">
		$(function(){
			//回车登录事件
			$(window).keydown(function (e) {
				if (e.which == 13) {
					login();
				}
			});
		});
		function signUp() {
			var userName = $("input[name=userName]").val();
			var password = $("input[name=passWord]").val();
			var rePassWord = $("input[name=rePassWord]").val();
			var email = $("input[name=email]").val();
			if (userName == null || userName == "") {
				alert("用户名不能为空");
				return false;
			}
			if (password == null || password == "") {
				alert("密码不能为空");
				return false;
			}
			if (rePassWord == null || rePassWord == "") {
				alert("确认密码不能为空");
				return false;
			}
			if (email == null || email == "") {
				alert("邮箱不能为空");
				return false;
			}
			$("#signUpForm").submit();
		}
	</script>
</div>

</body>
</html>