@charset "utf-8";

.header {
}

.header-topbar {
    margin: 10px 0px 5px;
    color: #999;
    padding-bottom: 10px;
}

.header-topbar a {
    color: #999;
}

.header-topbar a:hover {
    color: #3399CC;
    text-decoration: none;
}

.header-topbar .topmenu {
    float: right;
}

.header-topbar .topmenu li {
    float: left;
}

.header-topbar .topmenu a {
    display: block;
    color: #999;
    padding: 0 15px;
}

.header-topbar .topmenu a:hover {
    color: #3399CC;
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    -webkit-transition-timing-function: cubic-bezier(0.47,2.02,0.31,-0.36);
    transition-timing-function: cubic-bezier(0.47,2.02,0.31,-0.36);
}

.header-topbar-dropdown-menu {
    min-width: 0px;
}

.header-topbar-dropdown-menu>li {
    width: 100%;
    padding: 3px 0;
    text-align: center;
}

.header-topbar-dropdown-menu>li>a:hover {
    color: #3399CC;
    background: none;
}