@charset "utf-8";

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,button,input,fieldset,legend,input,textarea,p,blockquote,th,td,article,aside,details,figcaption,figure,#footer,#header,hgroup,menu,nav,section {
    margin: 0;
    padding: 0;
}

body,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,form,button,input,textarea,p,span,th,td,article,aside,nav,section,img,a {
    outline: none;
    transition: all 0.30s ease-in-out;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
}

article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary {
    display: block;
}

html,body {
    color: #444;
    background-color: #f6f6f6;
    overflow-x: hidden;
}

html::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background: #CCC;
}

html::-webkit-scrollbar-button {
    display: none;
}

html::-webkit-scrollbar-track-piece {
    display: none;
}

html::-webkit-scrollbar-thumb {
    background: #999;
}

html::-webkit-scrollbar-thumb:hover {
    background: #3399CC;
}

a {
    cursor: pointer;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

li {
    display: list-item;
    list-style: none;
    text-align: -webkit-match-parent;
}

li.active {
    background: #FFF;
    opacity: .9;
    filter: alpha(opacity=90);
}

button.close:hover span {
    -moz-transition: all 0.8s ease-in-out;
    -webkit-transition: all 0.8s ease-in-out;
    -o-transition: all 0.8s ease-in-out;
    -ms-transition: all 0.8s ease-in-out;
    transition: all 0.8s ease-in-out;
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
}

.btn-default {
    border-color: #DDD;
    color: #666;
}

.btn-default:hover,.btn-default:focus,.btn-default:active,.btn-default.active,.open > .dropdown-toggle.btn-default {
    border-color: #BBB;
    color: #444;
}

.btn-primary {
    background-color: #3399CC;
    border-color: #3399CC;
}

.btn-primary:hover,.btn-primary:focus,.btn-primary:active,.btn-primary.active,.open > .dropdown-toggle.btn-primary {
    background-color: #3399CC;
    border-color: #3399CC;
    opacity: 0.85;
    filter: alpha(opacity=85);
}

.btn-danger {
    background-color: #FF5E52;
    border-color: #FF5E52;
}

.btn-danger:hover,.btn-danger:focus,.btn-danger:active,.btn-danger.active,.open > .dropdown-toggle.btn-danger {
    background-color: #EF4639;
    border-color: #EF4639;
}

button.disabled {
    cursor: no-drop;
}

body,input,button,textarea,select {
    font-family: "Microsoft YaHei","微软雅黑","Lantinghei SC","Open Sans",Arial,"Hiragino Sans GB","STHeiti","WenQuanYi Micro Hei",SimSun,sans-serif;
}

.title,.pagetitle {
    margin-bottom: 10px;
    overflow: hidden;
}

.title h3,.pagetitle h1,.pagetitle h2 {
    font-size: 20px;
    margin: 0;
    float: left;
    cursor: pointer;
}

.title h3:hover {
    color: #F73B3B;
}

.title .more {
    float: right;
    position: relative;
    top: 5px;
}

.title .more a {
    display: inline-block;
    margin-left: 20px;
    color: #999;
}

.title .more a:hover {
    color: #3399CC;
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    -webkit-transition-timing-function: cubic-bezier(0.47,2.02,0.31,-0.36);
    transition-timing-function: cubic-bezier(0.47,2.02,0.31,-0.36);
}

@font-face {
    font-family:'TaurusNormal';src:url('../fonts/TaurusNormal.woff') format('woff'),url('../fonts/TaurusNormal.ttf') format('truetype'),url('../fonts/TaurusNormal.svg') format('svg');
}