<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <!-- META TAGS -->
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>首页</title>
    <link rel="shortcut icon" th:href="@{/images/favicon.ico}" />
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" media='all' >
    <link rel="stylesheet" type="text/css" th:href="@{/css/font-awesome.min.css}" media='all' >
    <link rel="stylesheet" type="text/css" th:href="@{/css/nprogress.css}" media='all' >
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" media='all' >
    <link rel="stylesheet" type="text/css" th:href="@{/css/header.css}" media='all' >
    <link rel="stylesheet" type="text/css" th:href="@{/css/root.css}" media='all' >
    <link rel="apple-touch-icon-precomposed" th:href="@{/images/icon.png}" >
    <link rel="stylesheet" type="text/css" th:href="@{/css/sweet-alert.css}">

    <script th:src="@{/js/jquery-2.1.4.min.js}" ></script>
    <script th:src="@{/js/nprogress.js}"></script>
    <script th:src="@{/js/jquery.lazyload.min.js}"></script>
    <script th:src="@{/js/sweet-alert.min.js}"></script>
    <script th:src="@{/js/root.js}"></script>
    <script th:src="@{/js/pop.js}"></script>
    <!--[if gte IE 9]>
    <script th:src="@{/js/jquery-1.11.1.min.js}" type="text/javascript"></script>
    <script th:src="@{/js/html5shiv.min.js}" type="text/javascript"></script>
    <script th:src="@{/js/respond.min.js}" type="text/javascript"></script>
    <script th:src="@{/js/selectivizr-min.js}" type="text/javascript"></script>
    <![endif]-->
    <!--[if lt IE 9]>
    <script>window.location.href='upgrade-browser.html';</script>
    <![endif]-->
    <div layout:fragment="head">

    </div>
</head>
<body layout:fragment="body">

</body>

<div layout:fragment="javascript">

</div>
</html>
